<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
 

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleSvcBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8733/SampleSvc/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SampleSvcBehaviour" name="SampleCalcService.CalcService">
        <endpoint address="http://localhost:8733/SampleSvc" binding="basicHttpBinding"
          bindingConfiguration="" name="SampleSvcBasicHttpEndPoint" contract="SampleCalcService.ICalcService" />
        <endpoint address="http://localhost:8733/SampleSvc/mex" binding="mexHttpBinding"
          bindingConfiguration="" name="SampleSvcMexEndPoint" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
